body{
    margin: 0;
    padding: 0;
    color: rgb(209, 97, 89);
    font-family: 'Nunito', sans-serif;
}

body:before{
    content: '';
    position: fixed;
    background-image: url(https://media-public.canva.com/MADQ5pw7MLI/1/screen.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

.header{
    position: relative;
    float: right;
    margin-top:20px;
    text-align:right;
    margin-right:50px;
}

.button{
    background: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 10px 30px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 5px;
}

.form1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    outline: none;
}

#submit1{
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    margin-top:5px;
    border-radius: 5px;
    padding-left:5px;
}

#submit2{
    width: 20%;
    margin-left: 20px;
    height: 30px;
    margin-bottom: 10px;
    margin-top:15px;
    border-radius: 5px;
    padding-left: 5px;
    cursor: pointer;
    background: grey;
    border: none; 
}

.pass{
    text-decoration: none;
    color: white;
    text-align: right;
}

.head{
    text-align: center;
    margin-bottom: 40px;
}

.foot{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}